<style>
    table, th, td {
  border: 1px solid black;
    }
  *{
    background-color: bisque
  }

</style>
<center>
<table>
    <tr>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Date</th>
        </tr>
    </tr>
    {% for pdata in mydata%}
    <tr>
        <td>{{pdata.id}}</td>
        <td>{{pdata.sname}}</td>
        <td>{{pdata.smobile}}</td>
        <td>{{pdata.semail}}</td>
        <td>{{pdata.createAt}}</td>
        <td> 
            <a href="edit-student/{{pdata.id}}">Edit</a> |
            <a onclick="return confirm('Are you Sure?')" 
            href="{% url 'delete-student' pdata.id%}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% include 'menu.html'%}
</center>